<div class="back"> 
    <h1 class="mid">Skills</h1>
    <ul>
        <li>Programming</li>
        <ul>
            <h3></h3>
            <li>java</li>
            <li>c++</li>
            <li>PL/SQL</li>
            <li>Assembly</li>
            <li>js / ts</li>
        </ul>

        <li>Web & App Development</li>
        <ul>
            <li>React JS</li>
            <li>ReactNative</li>
            <li>Node.JS</li>
            <li>Hibernate</li>
        </ul>

        
        <li>Backend & Databases </li>
            <ul>
                <li>MongoDB</li>
                <li>,Firebase</li>
                <li>Express.js</li>
                <li>SQL (MySql ,Oracle XE)</li>
            </ul>
    </ul>
    
</div>